main {
  padding: 0 0 25px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: xxx-large;
  line-height: 48px;
}

.weather-app-details {
  font-size: medium;
  line-height: 20px;
  color: #212121e1;
}

.weather-app-details strong {
  color: #a0532c;
}

.weather-app-temperature {
  display: flex;
}

.weather-app-value {
  font-size: xxx-large;
  font-weight: bold;
  margin-top: 25px;
}

.weather-app-icon {
  width: 90px;
  margin-left: 5px;
  margin-top: 5px;
}

.weather-app-unit {
  margin-top: 25px;
  font-size: x-large;
}

.weather-app-city,
.weather-app-value,
.weather-app-unit {
  color: #212121;
}
